
@import url('https://fonts.googleapis.com/css?family=Permanent+Marker&display=swap');
*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: #eee;
  max-height: 100vh;
  color: #fff;
  background-color:black;
  background-size: cover;
  background-position: center;
  font-family: Raleway, sans-serif;
}

a {
  text-decoration: none;
}

.text,
.text:active,
.text:link {
  color: #fff;
}

.btn,
.btn:active,
.btn:link {
  color: #000;
}

#text-container {
  position: fixed;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

#text-container div {
  line-height: 0.3em;
}

#text-container div a {
  text-decoration: underline;
}

#text-container div a:hover {
  opacity: 0.7;
  cursor: pointer;
}

#text-container button {
  margin: 3em;
  min-height: 44px;
  font-size: 1em;
  border-radius: 4px;
  padding: 0 1em;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 0.4px;
  color: #000;
}

#text-container button:hover {
  opacity: 0.7;
  cursor: pointer;
}

#title {
  font-family: 'Permanent Marker', cursive;
  font-weight: 100;
  font-size: 42px;
  z-index: 100;
  color: #fff;
  width: auto;
  margin: 0 1rem;
}